:root {
  --angular-gradient: linear-gradient(to right, #f18347, #de4a98, #ab6a95);
  --red-color: #ef4444;
  --accent-color: #ec4899;
  --gray-color: #3c3938;
  --background-color: #fcefde;
  --border-color: #e1d9d7;
  --orange-color: #ee7955;
  --magenta-color: #c00065;
  --purple-color: #4b215b;
  --dark-purple-color: #3e184d;
  --light-orange-color: #fff2e6;
  --lighter-orange-color: #fff7ef;

  font-family: Montserrat, sans-serif;

  color-scheme: light;
  color: var(--gray-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--gray-color);
}

a:hover,
.active-link {
  color: var(--accent-color);
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 2rem;
}

.section-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.25rem 0;
}

a img {
  transition: transform 0.6s;
}

a:hover img {
  transform: scale(1.1);
}

.highlighted-text {
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--angular-gradient);
  font-weight: 600;
}
