:root {
  font-family: Montserrat, sans-serif;

  color-scheme: dark;
  color: #ffffff;
  background-color: #0e101c;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: #ffffff;
}

a:hover {
  color: #d62f39;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}
