:root {
  --angular-gradient: linear-gradient(to right, #f18347, #de4a98, #ab6a95);
  --red-color: #ef4444;
  --accent-color: #ec4899;
  --purple-color: #a855f7;
  --blue-color: #40a2d8;
  --green-color: #00b863;
  --gray-color: #3c3938;
  --background-color: #fcefde;
  --border-color: #e1d9d7;
  --logo-orange-color: #ee7955;
  --logo-purple-color: #db4d98;

  font-family: Montserrat, sans-serif;

  color-scheme: light;
  color: var(--gray-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--gray-color);
}

a:hover,
.active-link {
  color: var(--accent-color);
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem;
}

.section-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.25rem 0;
}

a img {
  transition: transform 0.6s;
}

a:hover img {
  transform: scale(1.1);
}

.highlighted-text {
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--angular-gradient);
  font-weight: 600;
}
